/*
   RESET
   ---------------
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   ---------------
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Master Style Goodness */

html, body { height: 100%; }
body { background: #8dd1c4; color: #062724; font-family: 'Noto Sans', Tahoma, Arial, sans-serif; }
.padded { padding: 20px; }
.pad-left { padding-left: 20px; }
.pad-right { padding-right: 20px; }
.show-660 { display: none; clear: none; }
.clear { clear: both; text-indent: 110%; overflow: hidden; line-height: 0; }
.fancybox-contents { display: none; line-height: 1.2; }
.allwrapper { position: absolute; width: 100%; min-width: 310px; height: 100%; }
.wrapper { position: relative; height: 100%; min-height: 600px; }
#main { float: left; position: relative; width: 60%; max-width: 100%; margin: 40px 0 0; font-size: 1em; }
#main p { line-height: 1.2; margin: 10px 0; }
.logo { position: relative; }
.logo h1 { float: left; text-align: center; font-family: 'Mouse Memoirs', Arial, sans-serif; font-size: 150px; line-height: .8; color: #0f6e66; margin-bottom: 15px; }
#logo-image { height: 250px; position: absolute; right: 0; bottom: 15px; }
#before { width: 500px; }
#test { float: right; position: relative; width: 35%; max-width: 100%; margin: 40px 0 0; padding-bottom: 100px; }
#bubble { display: block; width: 306px; max-width: 100%; margin: 0 auto; position: relative; overflow: hidden; }
#bubble img { width: 100%; }
#bubble-container { position: absolute; color: #555; width: 75%; left: 50%; top: 37%; font-size: 28px; }
.shift { position: relative; left: -50%; text-align: center; }
#bubble-container strong { color: #010101; }
#press { -webkit-user-select: none; }
.button, .button:focus, .button-small, .button-small:focus { display: block; cursor: pointer; color: #222; text-decoration: none; border: 1px solid #919191; background: #ccc; text-align: center; font-family: 'Mouse Memoirs', Arial, sans-serif; }
.button-small, .button-small:focus { width: 100px; margin: 20px auto 0; padding: 10px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.button, .button:focus { -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; font-size: 24px; width: 150px; max-width: 100%; padding: 20px; margin: 40px auto 0; line-height: 60px; }
.button:hover, .button-small:hover { background: #d0d0d0; }
.button:active, .button-small:active { background: #aaa; }
#scores .float-left, #scores .float-right { width: 47%; margin-top: 15px; }
#scores .float-left { float: left; text-align: right; }
#scores .float-right { float: right; }
#submit { text-align: center; }
#submit select { display: inline-block; }
#test h3 { font-family: 'Mouse Memoirs', Arial, sans-serif; text-align: center; color: #062724; font-size: 32px; }
#board { width: 100%; border: 0; background: 0; }
#board th { font-weight: bold; text-align: left; }
#board td { width: 50%; background: #fff; }
#board tr.even td { background: #f0f0f0; border-bottom: 1px solid #bbb; }
footer { position: relative; width: 100%; padding: 17px 0; bottom: 0; margin-top: -66px; background: #fff; border-top: 1px solid #1bb7aa; overflow: hidden; }
footer .left, footer .right { padding: 0 17px; }
footer .left { float: left; }
footer .right { float: right; overflow: hidden; }
footer .right a { float: left; margin-left: 5px; }
footer p { line-height: 31px; font-family: 'Mouse Memoirs', Arial, sans-serif; font-size: 18px; }
footer em { font-style: normal; color: #999 !important; }
footer a { text-decoration: none; color: #115c55; }
footer a:hover { text-decoration: none; color: #156961; }

/* Media Query Stuff */

@media (min-width: 1100px) {
	#main { margin-top: 5%; }
	.logo h1 { font-size: 170px; }
	#logo-image { height: 300px; }
	#before { width: 700px; }
    #bubble-container { top: 40%; }
}

@media (max-width: 925px) {
	#main { margin-top: 40px; }
	.logo h1 { font-size: 120px; }
	#logo-image { height: 200px; }
}

@media (max-width: 830px) {
	.logo h1 { font-size: 90px; }
	#logo-image { height: 160px; position: relative; float: left; right: auto; }
	#before { width: 400px; }
    #bubble-container { top: 34%; }
}

@media (max-width: 760px) {
    #bubble-container { top: 40%; font-size: 1.2em; }
}

@media (max-width: 660px) {
    .show-660 { display: block; clear: both; }
	.wrapper { height: auto; min-height: auto; }
	.logo { text-align: center; }
	.logo h1, #logo-image { float: none; display: inline-block; }
	#logo-image { bottom: auto; }
	#main, #test { width: 100%; float: none; }
	#main .pad-left { padding-right: 20px; }
	#test .pad-right { padding-left: 20px; margin-top: 20px; }
	#before { margin: 0 auto; max-width: 100%; }
	#main { margin: 0; margin-top: 35px; }
    #bubble-container { top: 37%; font-size: 1.5em; }
	.padding-small { padding: 20px; }
	footer { bottom: auto; }
    footer .right a { display: inline-block; float: none; margin: 0 0 5px; }
    footer .left, footer .right { float: none; width: 100%; text-align: center; }
}

@media (max-width: 395px) {
	.logo h1 { font-size: 65px; width: 60%; }
	#logo-image { height: 120px; }
}

@media (max-width: 325px) {
	.logo h1 { font-size: 45px; }
	#logo-image { height: 90px; }
}